body{

	margin: 0;
	font-family: 'Lato', sans-serif;

	font-size:  13px;
	line-height: 1.6;
	color: #999;

}

*,:before,:after {

	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

/*Container */
.container {

	width: 100%;
	max-width:  530px;
	margin: 0 auto;


}

/* Intro*/
.intro{
	width: 100%;
	height:  100vh;

	background: url("../images/intro.jpg")
	center no-repeat;

	-webkit-background-size: cover;
	background-size: cover;


}


/*header*/
.header{
	padding-top: 30px;

	font-weight: 700;
	width: 100%;

	position:  absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__iner{
	display:  flex;
	align-items: center;


}

.header__logo{
	
	margin-left: 0;


}

/* Nav */
.nav{

	font-size:  13px;
	text-transform: uppercase
}

.nav__link{
	display: inline-block;
	vertical-align:  top;
	margin: 0 20px;
	position:  relative;

	color: #666;
	text-decoration: none;

	transition: color .2s linear;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	

	background-color: #66cc99;
	opacity: 0;

	position:  absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition:  opacity .1s linear;

}

.nav__link:hover{

	color: #66cc99;
}

.nav__link:hover:after{
	opacity: 1;
}

/*section*/
.section{
	padding-top: 100px;
	padding-bottom: 120px;
}

.section__logo{

	padding-bottom: 20px;
	text-align: center;
}

.container{

	width: 100%;
	max-width: 1050px;

	text-align: center;

}

.section__title{

	font-size: 18px;
	font-weight: 800;
	color: #333333;
	text-transform: uppercase;
	letter-spacing: 2px;

	text-align: center;

}

/*Card*/

.card{

	max-width: 100%;
	height: auto;
	display: flex;
	
}

.card__main{
	display: inline-flex;
}
.card__photo{


width: 65%;
height:auto;

display: inline-flex;
float: left;


	
}
.container__card{
	height: auto;

	width: 35%;

	float:  right;

	

}

.card__text{
	text-align: justify;
	line-height: 2;
	
	padding-right: 40px;
	padding-left: 40px;
}

.container__card__image{

	padding-top: 10px;
    width: 357px;
	
	height:auto;
	display:inline-flex;

}

.container__card__left{

	padding-top: 70px;

	max-height: 600px;

	width: 35%;

	float:  left;
}

.card__photo__right{

	display: block;
	float: right;


	
}
